In [6]:
import pandas as pd
import os

In [7]:
arquivo_2018 = pd.read_excel('POP2018_20210331.xls')
arquivo_2019 = pd.read_excel('POP2019_20210331.xls')
arquivo_2020 = pd.read_excel('POP2020_20210331.xls')
ibge_censo_amostra_caracteristica_populacao_2 = pd.read_excel('ibge_censo_amostra_caracteristica_populacao_2.xlsx')

In [8]:
#unir dois arquivos
df  = pd.merge(arquivo_2018, arquivo_2019, on='codigo', how='left')

In [9]:
#unir mais um arquivo
final = pd.merge(df, arquivo_2020, on='codigo', how='left')

In [10]:
#unir mais um arquivo
final_2 = pd.merge(final, ibge_censo_amostra_caracteristica_populacao_2, on='codigo', how='left')

In [12]:
final_2.columns = [col.replace(",", "") for col in final_2.columns]
final_2

,uf_x,codigo,nome_municipio_x,populacao_estimada_2018,uf_y,nome_municipio_y,populacao_estimada_2019,uf,nome_municipio,populacao_estimada_2020,municipio
0,MG,3100104.0,Abadia dos Dourados,6972.0,MG,Abadia dos Dourados,6989.0,MG,Abadia dos Dourados,7006.0,Abadia dos Dourados (MG)
1,MG,3100203.0,Abaeté,23223.0,MG,Abaeté,23237.0,MG,Abaeté,23250.0,Abaeté (MG)
2,MG,3100302.0,Abre Campo,13465.0,MG,Abre Campo,13454.0,MG,Abre Campo,13444.0,Abre Campo (MG)
3,MG,3100401.0,Acaiaca,3994.0,MG,Acaiaca,3994.0,MG,Acaiaca,3994.0,Acaiaca (MG)
4,MG,3100500.0,Açucena,9575.0,MG,Açucena,9470.0,MG,Açucena,9368.0,Açucena (MG)
...,...,...,...,...,...,...,...,...,...,...,...
853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
final_2.to_excel(r'C:\Users\André Neto\Documents\Zetta\output.xlsx')