In [1]:
import pandas as pd

In [47]:
#importar os dados
dataset = pd.read_excel("ibge_censo_amostra_domicilios_3.xlsx")
dataset

,codigo,municipio,Grupos de idade da pessoa responsável pelo domicílio,valor
0,1100015,Alta Floresta D'Oeste (RO),Total,7270
1,1100015,Alta Floresta D'Oeste (RO),10 a 14 anos,14
2,1100015,Alta Floresta D'Oeste (RO),15 a 19 anos,116
3,1100015,Alta Floresta D'Oeste (RO),20 a 24 anos,428
4,1100015,Alta Floresta D'Oeste (RO),25 a 29 anos,756
...,...,...,...,...
77905,5300108,Brasília (DF),50 a 54 anos,71387
77906,5300108,Brasília (DF),55 a 59 anos,57672
77907,5300108,Brasília (DF),60 a 64 anos,43270
77908,5300108,Brasília (DF),65 a 69 anos,30285
77909,5300108,Brasília (DF),70 anos ou mais,46914

In [48]:
#renomear nome das colunas
dataset.columns =["codigo","municipio","idade","valor"]
dataset.columns

Index(['codigo', 'municipio', 'idade', 'valor'], dtype='object')

In [49]:
#Fazer uma tabela dinâmica através do pivot
tabela = pd.pivot_table( dataset ,  'valor', ['codigo', 'municipio'], 'idade'  ,  'sum'   )

In [53]:
tabela('idade')

TypeError: 'DataFrame' object is not callable

In [38]:
tabela.to_excel(r'C:\Users\André Neto\Documents\Zetta\output.xlsx')