In [5]:
#importar biblioteca que vamor utilizar
import pandas as pd
import os
import matplotlib  as mt

In [6]:
DIRETORIO = "C:\\Users\\André Neto\\Documents\\Bootcamp - Ciencia de dados\\Modulo 2\\Trabalho Prático\\base_trabalho"

In [7]:
lista_df = [] #cria uma lista
lista_path = os.listdir(DIRETORIO)
lista_path[:5] #Lista os itens na pasta

['2020-01-01.csv',
 '2020-01-02.csv',
 '2020-01-03.csv',
 '2020-01-04.csv',
 '2020-01-05.csv']

In [8]:
#Coletando os dados de todas as planilhas
lista_df = []
for arquivo in lista_path:
    local_arquivo = os.path.join(DIRETORIO, arquivo)
    df = pd.read_csv(local_arquivo, sep = '|', encoding='latin-1')
    lista_df.append(df)
df_dados = pd.concat(lista_df) #atribui os dados coletados em um dataframe    
df_dados[:10] #mostra os dados

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV
0,10141523,2020-01-02,Feminino,1998-09-24,gato,quente,Cerveja,Aprender algo novo
1,10141996,2020-01-02,Feminino,1973-03-13,tartaruga,quente,refrigerante,Escrever
2,10142089,2020-01-02,Feminino,1970-03-23,gato,moderado,Água,Pintar quadros
3,10142145,2020-01-02,Masculino,1998-08-01,peixe,frio,refrigerante,Escrever
4,10142520,2020-01-02,Masculino,1994-05-09,peixe,moderado,Café,Praticar esporte

In [9]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\programdata\anaconda3\lib\site-packages (2.0.3)

In [10]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.3.20)

In [11]:
import MySQLdb
import sqlalchemy

In [23]:
#Conexão com banco de dados

user = 'root'
password = '140792'
host = 'localhost'
database = 'trabalho_pratico' #schema

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao #testando conexão


engine = sqlalchemy.create_engine(string_conexao)

conn = engine.connect()

In [13]:
#Exportando dados

df_dados.to_csv(DIRETORIO + 'trabalho_pratico_2.csv', sep =';', encoding='latin-1', index=False)

In [45]:
df_pessoas = df_dados[['cod_pessoa',  'genero', 'data_nascimento']].drop_duplicates()
df_clima = df_dados[['clima']].drop_duplicates()
df_hobbie = df_dados[['hobbies']].drop_duplicates()
df_animal_estimacao = df_dados[['animal_estimacao']].drop_duplicates()
df_bebida = df_dados[['bebida_favorita']].drop_duplicates()

In [25]:
#INSERINDO DADOS NA TABELA pessoa com o dataframe df_pessoas

for pessoa in df_pessoas.itertuples():
    cod_pessoa = pessoa.cod_pessoa
    genero = pessoa.genero
    data_nascimento = str(pessoa.data_nascimento)
    try:
        query = f"""insert into pessoa (cod_pessoa, genero, data_nascimento ) 
                     values ('{cod_pessoa}',  '{genero}', '{data_nascimento}')"""      
        conn.execute(query)      
        print(f"Registro inserido com sucesso: {genero}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {genero}. O erro foi encontrado foi: {e}")

Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141743' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141743',  'Masculino', '1981-04-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141860' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141860',  'Feminino', '1966-01-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142548' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142548',  'Masculino', '1973-08-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142591' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142591',  'Masculino', '1997-03-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142654' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142654',  'Feminino', '1969-08-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141523' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141523',  'Feminino', '1998-09-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141996' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141996',  'Feminino', '1973-03-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142089' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142089',  'Feminino', '1970-03-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142145' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142145',  'Masculino', '1998-08-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142520' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142520',  'Masculino', '1994-05-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143160' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143160',  'Feminino', '1967-09-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141712' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141712',  'Masculino', '1951-08-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141987' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141987',  'Feminino', '1978-04-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142093' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142093',  'Masculino', '1986-09-03')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142325' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142325',  'Masculino', '1965-10-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142552' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142552',  'Masculino', '1982-06-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142598' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142598',  'Masculino', '1953-09-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143013' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143013',  'Masculino', '1959-04-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141570' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141570',  'Feminino', '1953-11-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141851' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141851',  'Feminino', '1977-10-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141938' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141938',  'Feminino', '1957-03-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142733' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142733',  'Masculino', '1978-01-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142851' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142851',  'Masculino', '1982-12-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142941' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142941',  'Masculino', '1966-04-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143484' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143484',  'Masculino', '1976-05-31')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141877' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141877',  'Feminino', '1963-05-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142310' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142310',  'Masculino', '1978-08-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142471' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142471',  'Masculino', '1979-02-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142597' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142597',  'Masculino', '1981-07-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143070' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143070',  'Masculino', '1989-09-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143526' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143526',  'Feminino', '1964-05-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141671' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141671',  'Feminino', '1963-12-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142969' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142969',  'Feminino', '1956-04-03')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143233' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143233',  'Masculino', '1987-02-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141745' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141745',  'Masculino', '1982-10-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141826' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141826',  'Feminino', '1973-01-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142330' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142330',  'Masculino', '1982-03-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142711' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142711',  'Masculino', '1960-06-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143397' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143397',  'Feminino', '1972-10-31')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141581' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141581',  'Feminino', '1978-09-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141733' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141733',  'Feminino', '1976-07-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141836' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141836',  'Feminino', '1978-04-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141862' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141862',  'Feminino', '1985-10-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143185' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143185',  'Masculino', '1958-11-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143284' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143284',  'Masculino', '1979-12-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143286' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143286',  'Masculino', '1988-10-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141861' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141861',  'Feminino', '1957-03-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142291' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142291',  'Masculino', '1998-06-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142360' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142360',  'Masculino', '1974-03-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142498' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142498',  'Masculino', '1974-04-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142687' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142687',  'Masculino', '1954-08-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142984' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142984',  'Masculino', '1958-11-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143351' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143351',  'Masculino', '1959-06-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143396' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143396',  'Masculino', '1973-03-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142652' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142652',  'Masculino', '1966-11-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142655' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142655',  'Feminino', '1964-02-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143056' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143056',  'Masculino', '1976-12-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141577' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141577',  'Masculino', '1951-06-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141906' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141906',  'Feminino', '1972-08-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141916' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141916',  'Masculino', '1974-07-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142009' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142009',  'Feminino', '1995-11-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142241' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142241',  'Masculino', '1968-05-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142273' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142273',  'Masculino', '1953-09-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142617' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142617',  'Masculino', '1974-03-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143040' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143040',  'Masculino', '1972-04-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142557' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142557',  'Masculino', '1972-01-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142820' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142820',  'Masculino', '1983-07-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143231' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143231',  'Masculino', '1982-01-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143521' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143521',  'Feminino', '1976-06-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142109' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142109',  'Masculino', '1998-05-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142521' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142521',  'Masculino', '1973-09-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143134' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143134',  'Feminino', '1963-10-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143180' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143180',  'Masculino', '1983-09-30')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143314' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143314',  'Masculino', '1981-02-07')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143433' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143433',  'Feminino', '1977-07-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142462' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142462',  'Masculino', '1981-10-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142272' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142272',  'Masculino', '1979-04-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142698' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142698',  'Masculino', '1973-08-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142935' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142935',  'Masculino', '1976-07-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143182' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143182',  'Masculino', '1951-01-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143339' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143339',  'Masculino', '1983-12-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141750' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141750',  'Masculino', '1992-07-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142305' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142305',  'Masculino', '1983-02-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142788' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142788',  'Masculino', '1996-12-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142890' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142890',  'Masculino', '1954-10-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141549' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141549',  'Feminino', '1950-11-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141831' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141831',  'Feminino', '1966-01-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142542' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142542',  'Masculino', '1976-11-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142790' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142790',  'Masculino', '1963-09-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143019' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143019',  'Masculino', '1957-12-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141853' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141853',  'Feminino', '1993-12-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142140' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142140',  'Feminino', '1970-06-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142166' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142166',  'Masculino', '1998-12-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142669' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142669',  'Masculino', '1954-05-03')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142765' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142765',  'Masculino', '1956-04-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142936' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142936',  'Masculino', '1964-09-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143226' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143226',  'Masculino', '1981-01-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141829' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141829',  'Feminino', '1974-09-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142605' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142605',  'Feminino', '1969-05-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143398' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143398',  'Masculino', '1995-05-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142006' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142006',  'Feminino', '1978-01-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142151' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142151',  'Masculino', '1971-12-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142354' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142354',  'Masculino', '1990-07-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143274' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143274',  'Feminino', '1972-03-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141790' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141790',  'Feminino', '1997-10-30')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142110' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142110',  'Masculino', '1974-02-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142554' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142554',  'Masculino', '1951-03-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142688' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142688',  'Masculino', '1950-02-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141766' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141766',  'Masculino', '1992-03-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141885' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141885',  'Feminino', '1992-10-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142226' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142226',  'Masculino', '1957-10-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142813' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142813',  'Masculino', '1989-08-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141798' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141798',  'Feminino', '1955-07-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141941' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141941',  'Feminino', '1966-11-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143372' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143372',  'Masculino', '1991-03-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143402' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143402',  'Masculino', '1954-02-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141574' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141574',  'Feminino', '1992-01-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142670' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142670',  'Masculino', '1969-09-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143024' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143024',  'Masculino', '1966-07-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143478' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143478',  'Feminino', '1983-09-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143538' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143538',  'Masculino', '1975-02-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141869' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141869',  'Feminino', '1991-07-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141959' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141959',  'Feminino', '1983-03-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141967' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141967',  'Feminino', '1967-06-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142136' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142136',  'Masculino', '1962-08-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142504' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142504',  'Masculino', '1993-10-31')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141643' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141643',  'Masculino', '1973-11-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141865' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141865',  'Feminino', '1960-10-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141989' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141989',  'Feminino', '1993-01-30')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142013' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142013',  'Feminino', '1973-03-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142222' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142222',  'Masculino', '1996-06-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142318' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142318',  'Masculino', '1992-01-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142347' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142347',  'Masculino', '1956-11-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142550' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142550',  'Masculino', '1972-02-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142864' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142864',  'Masculino', '1995-03-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142982' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142982',  'Masculino', '1960-01-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141856' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141856',  'Feminino', '1983-02-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141895' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141895',  'Feminino', '1954-08-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143041' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143041',  'Masculino', '1959-08-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143359' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143359',  'Masculino', '1969-06-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143432' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143432',  'Masculino', '1953-05-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141704' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141704',  'Feminino', '1975-04-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142015' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142015',  'Masculino', '1966-05-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142033' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142033',  'Feminino', '1986-08-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143051' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143051',  'Masculino', '1987-10-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143194' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143194',  'Masculino', '1992-09-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143210' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143210',  'Masculino', '1989-01-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143282' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143282',  'Masculino', '1989-09-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143438' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143438',  'Feminino', '1956-10-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142018' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142018',  'Feminino', '1964-01-17')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142225' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142225',  'Masculino', '1973-11-03')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142297' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142297',  'Masculino', '1988-09-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142726' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142726',  'Masculino', '1987-08-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143598' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143598',  'Feminino', '1951-07-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142113' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142113',  'Feminino', '1989-01-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142169' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142169',  'Masculino', '1992-10-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142261' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142261',  'Masculino', '1956-07-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142776' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142776',  'Masculino', '1967-08-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141784' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141784',  'Feminino', '1995-11-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141961' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141961',  'Feminino', '1950-12-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142156' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142156',  'Masculino', '1989-05-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142371' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142371',  'Masculino', '1950-05-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142450' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142450',  'Masculino', '1986-03-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142513' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142513',  'Masculino', '1976-04-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142714' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142714',  'Masculino', '1997-02-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141596' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141596',  'Feminino', '1960-03-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142021' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142021',  'Feminino', '1961-01-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142133' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142133',  'Masculino', '1971-10-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142445' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142445',  'Masculino', '1976-10-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142635' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142635',  'Feminino', '1953-04-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142694' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142694',  'Masculino', '1993-08-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143166' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143166',  'Feminino', '1960-12-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141769' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141769',  'Feminino', '1953-10-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142031' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142031',  'Feminino', '1961-01-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142204' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142204',  'Masculino', '1980-03-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142395' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142395',  'Masculino', '1983-11-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142632' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142632',  'Feminino', '1993-02-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141625' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141625',  'Feminino', '1960-10-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142068' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142068',  'Feminino', '1993-07-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143044' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143044',  'Masculino', '1958-01-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143541' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143541',  'Feminino', '1999-10-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143596' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143596',  'Masculino', '1991-05-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141583' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141583',  'Feminino', '1956-10-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141657' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141657',  'Feminino', '1987-08-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141793' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141793',  'Feminino', '1953-08-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142364' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142364',  'Masculino', '1985-12-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142879' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142879',  'Masculino', '1998-08-03')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142892' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142892',  'Masculino', '1980-03-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143407' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143407',  'Feminino', '1975-04-03')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143591' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143591',  'Feminino', '1988-04-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141635' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141635',  'Feminino', '1985-08-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142131' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142131',  'Masculino', '1990-07-03')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143603' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143603',  'Masculino', '1964-06-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141601' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141601',  'Feminino', '1998-07-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141880' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141880',  'Masculino', '1997-08-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141912' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141912',  'Feminino', '1954-04-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141969' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141969',  'Feminino', '1985-03-17')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141980' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141980',  'Feminino', '1962-10-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142568' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142568',  'Masculino', '1997-12-17')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142827' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142827',  'Masculino', '1970-02-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142974' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142974',  'Masculino', '1989-02-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141552' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141552',  'Feminino', '1989-03-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141891' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141891',  'Feminino', '1998-06-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142713' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142713',  'Masculino', '1952-06-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143496' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143496',  'Masculino', '1983-08-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141600' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141600',  'Feminino', '1969-11-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141660' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141660',  'Masculino', '1987-11-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141963' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141963',  'Feminino', '1968-01-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142469' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142469',  'Masculino', '1982-09-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142595' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142595',  'Masculino', '1956-01-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142769' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142769',  'Masculino', '1979-11-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143414' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143414',  'Masculino', '1967-08-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141701' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141701',  'Masculino', '1998-08-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142104' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142104',  'Feminino', '1999-09-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142259' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142259',  'Masculino', '1984-04-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142279' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142279',  'Masculino', '1950-10-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141641' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141641',  'Feminino', '1968-06-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141787' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141787',  'Feminino', '1998-04-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142697' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142697',  'Masculino', '1953-03-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142866' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142866',  'Masculino', '1990-07-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143174' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143174',  'Masculino', '1967-02-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143386' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143386',  'Masculino', '1971-02-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142149' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142149',  'Masculino', '1954-12-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142730' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142730',  'Masculino', '1981-08-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143248' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143248',  'Masculino', '1972-11-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142472' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142472',  'Masculino', '1977-11-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142509' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142509',  'Masculino', '1977-09-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142778' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142778',  'Masculino', '1970-09-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143486' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143486',  'Masculino', '1979-04-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141586' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141586',  'Feminino', '1957-12-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141703' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141703',  'Feminino', '1982-01-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141939' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141939',  'Feminino', '1999-09-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141990' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141990',  'Feminino', '1982-12-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142199' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142199',  'Masculino', '1958-10-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143369' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143369',  'Masculino', '1952-10-30')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143487' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143487',  'Masculino', '1953-09-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142125' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142125',  'Feminino', '1981-08-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142378' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142378',  'Masculino', '1958-12-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142495' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142495',  'Masculino', '1965-12-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142543' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142543',  'Masculino', '1974-05-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143468' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143468',  'Masculino', '1976-06-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141573' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141573',  'Feminino', '1973-01-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142135' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142135',  'Feminino', '1985-12-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142163' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142163',  'Masculino', '1983-02-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142502' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142502',  'Masculino', '1972-10-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142674' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142674',  'Masculino', '1951-04-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143234' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143234',  'Masculino', '1958-01-31')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142636' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142636',  'Feminino', '1968-10-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142804' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142804',  'Masculino', '1977-11-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143008' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143008',  'Masculino', '1973-10-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143265' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143265',  'Masculino', '1978-08-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142420' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142420',  'Masculino', '1952-04-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143175' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143175',  'Masculino', '1964-06-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141886' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141886',  'Feminino', '1996-10-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142532' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142532',  'Masculino', '1950-08-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142564' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142564',  'Masculino', '1979-02-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142753' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142753',  'Masculino', '1959-12-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143334' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143334',  'Feminino', '1989-03-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141531' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141531',  'Feminino', '1950-11-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141746' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141746',  'Masculino', '1965-12-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142316' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142316',  'Masculino', '1971-05-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142349' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142349',  'Masculino', '1971-12-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142806' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142806',  'Masculino', '1990-01-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142875' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142875',  'Masculino', '1989-07-31')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143362' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143362',  'Feminino', '1979-09-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141983' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141983',  'Masculino', '1957-07-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142070' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142070',  'Masculino', '1989-01-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142538' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142538',  'Masculino', '1977-09-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142793' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142793',  'Masculino', '1991-03-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143035' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143035',  'Masculino', '1967-07-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143418' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143418',  'Feminino', '1995-10-30')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143488' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143488',  'Masculino', '1974-05-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141676' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141676',  'Masculino', '1962-06-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141697' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141697',  'Feminino', '1995-01-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141729' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141729',  'Feminino', '1957-02-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142567' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142567',  'Masculino', '1972-01-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142720' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142720',  'Masculino', '1965-09-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142826' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142826',  'Masculino', '1990-12-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143445' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143445',  'Feminino', '1972-10-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143565' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143565',  'Feminino', '1963-04-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141651' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141651',  'Feminino', '1977-05-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142846' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142846',  'Masculino', '1996-09-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142857' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142857',  'Masculino', '1964-09-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143505' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143505',  'Masculino', '1971-04-30')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142278' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142278',  'Masculino', '1994-03-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142411' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142411',  'Masculino', '1958-02-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141522' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141522',  'Masculino', '1972-04-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141566' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141566',  'Feminino', '1976-11-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141627' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141627',  'Feminino', '1987-10-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141670' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141670',  'Feminino', '1975-03-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141841' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141841',  'Feminino', '1973-02-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141855' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141855',  'Feminino', '1976-05-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141867' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141867',  'Feminino', '1963-07-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142146' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142146',  'Masculino', '1991-04-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142486' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142486',  'Masculino', '1950-10-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142905' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142905',  'Masculino', '1983-10-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142927' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142927',  'Masculino', '1970-05-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143058' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143058',  'Masculino', '1960-07-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143102' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143102',  'Masculino', '1984-06-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141979' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141979',  'Feminino', '1977-03-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142000' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142000',  'Feminino', '1980-06-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142017' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142017',  'Masculino', '1966-04-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142276' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142276',  'Masculino', '1955-10-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142413' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142413',  'Masculino', '1980-08-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142476' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142476',  'Masculino', '1974-11-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142518' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142518',  'Masculino', '1966-12-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142563' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142563',  'Masculino', '1962-11-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143093' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143093',  'Masculino', '1991-01-17')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143469' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143469',  'Feminino', '1989-04-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143561' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143561',  'Masculino', '1969-10-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141548' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141548',  'Feminino', '1961-12-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141924' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141924',  'Feminino', '1971-02-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142081' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142081',  'Masculino', '1985-03-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142438' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142438',  'Masculino', '1968-08-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142613' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142613',  'Feminino', '1985-01-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143212' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143212',  'Masculino', '1980-02-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143605' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143605',  'Feminino', '1978-12-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142365' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142365',  'Masculino', '1991-12-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142464' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142464',  'Masculino', '1967-12-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142527' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142527',  'Masculino', '1968-08-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142835' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142835',  'Masculino', '1997-07-31')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143570' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143570',  'Feminino', '1986-01-07')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142618' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142618',  'Masculino', '1997-09-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143004' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143004',  'Masculino', '1985-07-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143434' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143434',  'Feminino', '1994-03-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141624' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141624',  'Feminino', '1966-03-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141638' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141638',  'Feminino', '1993-07-03')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141706' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141706',  'Feminino', '1989-06-17')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141795' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141795',  'Feminino', '1998-09-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141838' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141838',  'Feminino', '1981-10-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142189' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142189',  'Masculino', '1963-06-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143065' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143065',  'Masculino', '1989-02-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143205' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143205',  'Masculino', '1968-01-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141857' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141857',  'Feminino', '1989-12-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141930' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141930',  'Feminino', '1986-07-07')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142285' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142285',  'Feminino', '1958-09-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143222' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143222',  'Masculino', '1962-04-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142148' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142148',  'Feminino', '1975-04-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142539' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142539',  'Masculino', '1962-09-07')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142847' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142847',  'Masculino', '1957-10-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141823' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141823',  'Feminino', '1993-08-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141953' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141953',  'Feminino', '1966-06-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141988' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141988',  'Feminino', '1998-07-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142221' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142221',  'Masculino', '1954-12-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142830' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142830',  'Masculino', '1957-01-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143494' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143494',  'Masculino', '1996-06-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143607' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143607',  'Feminino', '1999-03-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141599' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141599',  'Feminino', '1989-05-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142255' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142255',  'Masculino', '1998-05-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142467' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142467',  'Masculino', '1971-04-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142582' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142582',  'Masculino', '1972-05-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142675' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142675',  'Masculino', '1977-09-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143453' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143453',  'Feminino', '1973-02-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141511' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141511',  'Masculino', '1995-12-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142034' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142034',  'Feminino', '1968-11-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142909' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142909',  'Masculino', '1977-08-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142118' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142118',  'Feminino', '1954-03-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142724' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142724',  'Masculino', '1968-10-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142803' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142803',  'Masculino', '1956-04-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142834' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142834',  'Masculino', '1998-12-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143214' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143214',  'Masculino', '1989-06-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143588' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143588',  'Feminino', '1966-03-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141711' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141711',  'Masculino', '1952-08-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142038' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142038',  'Feminino', '1956-01-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142217' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142217',  'Masculino', '1956-06-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142251' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142251',  'Masculino', '1951-11-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142436' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142436',  'Masculino', '1971-03-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142719' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142719',  'Masculino', '1962-06-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142764' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142764',  'Masculino', '1994-11-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141684' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141684',  'Masculino', '1980-01-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143053' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143053',  'Masculino', '1966-07-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141525' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141525',  'Feminino', '1984-01-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141603' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141603',  'Feminino', '1994-06-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141619' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141619',  'Feminino', '1964-01-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142157' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142157',  'Masculino', '1957-06-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142174' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142174',  'Masculino', '1979-06-07')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143099' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143099',  'Masculino', '1993-08-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143162' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143162',  'Feminino', '1960-07-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143151' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143151',  'Feminino', '1981-07-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143289' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143289',  'Masculino', '1985-11-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141613' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141613',  'Feminino', '1952-07-30')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141919' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141919',  'Feminino', '1993-06-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141925' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141925',  'Feminino', '1998-01-03')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141970' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141970',  'Feminino', '1982-02-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142167' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142167',  'Masculino', '1953-04-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142191' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142191',  'Masculino', '1990-08-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142441' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142441',  'Masculino', '1995-10-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142514' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142514',  'Masculino', '1968-11-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143201' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143201',  'Masculino', '1985-06-07')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143552' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143552',  'Feminino', '1959-05-17')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141728' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141728',  'Feminino', '1990-08-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142960' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142960',  'Masculino', '1962-09-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143039' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143039',  'Masculino', '1988-09-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142052' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142052',  'Feminino', '1960-02-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142339' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142339',  'Masculino', '1987-02-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142426' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142426',  'Masculino', '1957-05-07')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142894' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142894',  'Masculino', '1951-08-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143172' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143172',  'Masculino', '1984-06-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143256' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143256',  'Masculino', '1960-04-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143336' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143336',  'Feminino', '1988-05-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141774' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141774',  'Feminino', '1977-11-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142130' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142130',  'Feminino', '1995-06-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142422' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142422',  'Masculino', '1993-04-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142604' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142604',  'Feminino', '1952-01-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142609' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142609',  'Feminino', '1979-11-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142744' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142744',  'Masculino', '1982-04-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142872' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142872',  'Masculino', '1977-08-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142917' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142917',  'Masculino', '1954-09-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142950' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142950',  'Masculino', '1979-04-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141775' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141775',  'Feminino', '1984-02-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141789' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141789',  'Feminino', '1982-11-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141984' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141984',  'Masculino', '1963-09-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142195' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142195',  'Masculino', '1958-01-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143089' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143089',  'Masculino', '1981-11-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141894' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141894',  'Feminino', '1990-08-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141991' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141991',  'Feminino', '1976-09-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142085' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142085',  'Masculino', '1959-01-07')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142389' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142389',  'Masculino', '1995-08-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142752' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142752',  'Masculino', '1953-03-07')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143022' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143022',  'Masculino', '1973-07-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143117' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143117',  'Feminino', '1990-06-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143456' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143456',  'Feminino', '1998-08-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143544' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143544',  'Masculino', '1963-04-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142529' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142529',  'Masculino', '1986-07-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142799' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142799',  'Masculino', '1967-03-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143015' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143015',  'Masculino', '1984-06-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143447' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143447',  'Feminino', '1963-09-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143495' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143495',  'Masculino', '1976-10-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141782' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141782',  'Feminino', '1995-06-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141946' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141946',  'Feminino', '1979-03-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142517' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142517',  'Masculino', '1960-07-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142895' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142895',  'Masculino', '1992-05-07')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142842' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142842',  'Masculino', '1993-06-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143128' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143128',  'Masculino', '1970-02-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143611' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143611',  'Masculino', '1994-03-30')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141545' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141545',  'Feminino', '1960-02-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141569' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141569',  'Feminino', '1964-06-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141842' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141842',  'Feminino', '1953-12-07')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142451' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142451',  'Masculino', '1957-09-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142763' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142763',  'Masculino', '1985-10-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142986' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142986',  'Masculino', '1991-09-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143148' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143148',  'Masculino', '1958-05-03')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141944' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141944',  'Feminino', '1969-08-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142042' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142042',  'Masculino', '1976-05-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142488' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142488',  'Masculino', '1984-03-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143534' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143534',  'Masculino', '1972-02-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143572' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143572',  'Feminino', '1980-08-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141606' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141606',  'Feminino', '1993-12-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141691' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141691',  'Feminino', '1963-07-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141902' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141902',  'Feminino', '1955-10-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142228' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142228',  'Masculino', '1969-02-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142619' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142619',  'Masculino', '1962-08-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142916' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142916',  'Masculino', '1952-06-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143295' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143295',  'Masculino', '1978-07-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143346' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143346',  'Masculino', '1978-04-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143619' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143619',  'Masculino', '1991-07-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142230' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142230',  'Masculino', '1989-12-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143202' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143202',  'Masculino', '1963-03-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142321' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142321',  'Masculino', '1961-04-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142599' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142599',  'Masculino', '1984-04-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142940' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142940',  'Masculino', '1960-08-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143504' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143504',  'Feminino', '1954-11-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142071' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142071',  'Masculino', '1989-03-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143000' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143000',  'Masculino', '1976-06-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143304' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143304',  'Feminino', '1979-12-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142180' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142180',  'Masculino', '1967-02-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142437' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142437',  'Masculino', '1951-01-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142937' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142937',  'Masculino', '1954-09-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142959' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142959',  'Masculino', '1993-10-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142996' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142996',  'Masculino', '1956-06-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143127' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143127',  'Feminino', '1993-12-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143135' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143135',  'Feminino', '1997-10-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143216' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143216',  'Masculino', '1970-02-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143470' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143470',  'Feminino', '1966-06-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141568' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141568',  'Feminino', '1997-08-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141686' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141686',  'Feminino', '1986-09-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141791' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141791',  'Feminino', '1964-01-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142074' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142074',  'Masculino', '1976-12-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142665' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142665',  'Masculino', '1960-12-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143049' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143049',  'Masculino', '1989-08-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143178' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143178',  'Masculino', '1988-09-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142044' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142044',  'Feminino', '1999-08-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142311' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142311',  'Masculino', '1993-11-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142533' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142533',  'Masculino', '1958-03-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142642' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142642',  'Masculino', '1981-05-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143503' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143503',  'Masculino', '1973-05-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143190' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143190',  'Masculino', '1966-09-03')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143322' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143322',  'Masculino', '1997-11-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142025' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142025',  'Feminino', '1968-04-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142456' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142456',  'Masculino', '1951-05-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143465' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143465',  'Feminino', '1971-03-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141501' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141501',  'Feminino', '1984-05-22')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142417' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142417',  'Masculino', '1983-03-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142861' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142861',  'Masculino', '1964-06-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143122' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143122',  'Masculino', '1981-08-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143522' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143522',  'Masculino', '1965-11-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142382' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142382',  'Masculino', '1971-12-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142429' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142429',  'Masculino', '1969-09-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142447' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142447',  'Masculino', '1998-09-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142944' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142944',  'Masculino', '1969-09-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142956' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142956',  'Masculino', '1997-08-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143103' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143103',  'Masculino', '1960-03-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143221' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143221',  'Masculino', '1972-07-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143279' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143279',  'Feminino', '1982-08-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143373' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143373',  'Feminino', '1968-02-17')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143581' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143581',  'Feminino', '1969-07-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141622' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141622',  'Feminino', '1991-04-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141680' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141680',  'Feminino', '1988-01-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141813' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141813',  'Feminino', '1964-04-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142271' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142271',  'Masculino', '1965-05-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142409' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142409',  'Masculino', '1953-10-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142558' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142558',  'Masculino', '1952-01-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143376' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143376',  'Feminino', '1954-01-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143492' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143492',  'Feminino', '1978-10-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141509' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141509',  'Masculino', '1979-09-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142233' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142233',  'Masculino', '1993-05-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142448' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142448',  'Masculino', '1965-08-31')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142741' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142741',  'Masculino', '1957-03-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142786' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142786',  'Masculino', '1960-02-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142791' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142791',  'Masculino', '1984-04-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142968' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142968',  'Masculino', '1971-08-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141546' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141546',  'Feminino', '1959-02-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141647' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141647',  'Feminino', '1973-05-17')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141840' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141840',  'Feminino', '1978-01-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142176' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142176',  'Masculino', '1981-02-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142631' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142631',  'Feminino', '1977-06-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143059' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143059',  'Masculino', '1958-12-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142403' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142403',  'Masculino', '1989-06-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142577' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142577',  'Masculino', '1971-10-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142814' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142814',  'Masculino', '1998-08-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142884' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142884',  'Masculino', '1958-12-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143150' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143150',  'Masculino', '1982-01-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143483' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143483',  'Masculino', '1972-11-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141551' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141551',  'Feminino', '1957-05-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141629' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141629',  'Feminino', '1967-01-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141707' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141707',  'Feminino', '1968-06-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142132' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142132',  'Feminino', '1981-09-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142307' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142307',  'Masculino', '1954-12-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142612' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142612',  'Feminino', '1952-05-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143109' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143109',  'Masculino', '1993-06-10')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143266' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143266',  'Masculino', '1990-12-09')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143271' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143271',  'Feminino', '1986-11-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143367' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143367',  'Masculino', '1958-04-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143463' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143463',  'Masculino', '1988-01-31')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143529' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143529',  'Masculino', '1974-04-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143627' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143627',  'Masculino', '1963-06-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142119' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142119',  'Feminino', '1969-08-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142614' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142614',  'Masculino', '1953-05-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142907' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142907',  'Masculino', '1971-10-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143437' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143437',  'Feminino', '1950-01-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143569' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143569',  'Masculino', '1955-06-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142412' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142412',  'Masculino', '1963-08-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142999' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142999',  'Masculino', '1972-10-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143121' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143121',  'Masculino', '1982-01-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143161' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143161',  'Feminino', '1979-08-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143195' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143195',  'Masculino', '1991-09-06')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141737' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141737',  'Feminino', '1998-05-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142098' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142098',  'Feminino', '1995-06-27')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143084' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143084',  'Masculino', '1988-05-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143171' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143171',  'Feminino', '1974-04-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142154' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142154',  'Masculino', '1953-06-03')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142313' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142313',  'Masculino', '1967-09-19')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142856' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142856',  'Masculino', '1969-06-12')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142418' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142418',  'Masculino', '1995-05-04')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142435' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142435',  'Masculino', '1953-10-28')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143420' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143420',  'Masculino', '1968-12-17')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141665' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141665',  'Masculino', '1970-02-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142158' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142158',  'Masculino', '1954-02-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142223' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142223',  'Masculino', '1977-02-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142492' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142492',  'Masculino', '1973-05-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142708' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142708',  'Masculino', '1993-09-17')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142762' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142762',  'Masculino', '1957-09-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143047' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143047',  'Masculino', '1987-12-14')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143188' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143188',  'Masculino', '1963-07-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143370' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143370',  'Masculino', '1987-11-25')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141553' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141553',  'Feminino', '1987-02-15')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142215' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142215',  'Masculino', '1953-12-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143288' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143288',  'Masculino', '1986-08-02')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143577' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143577',  'Masculino', '1970-11-16')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141626' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141626',  'Feminino', '1998-05-24')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141652' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141652',  'Feminino', '1954-01-26')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142058' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142058',  'Masculino', '1988-10-29')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143082' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143082',  'Masculino', '1980-10-23')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10143626' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10143626',  'Masculino', '1956-09-08')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141672' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141672',  'Feminino', '1951-01-20')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142294' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142294',  'Masculino', '1982-12-01')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142630' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142630',  'Feminino', '1988-10-21')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142997' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142997',  'Masculino', '1961-09-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Feminino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141768' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141768',  'Feminino', '1979-05-18')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10141898' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10141898',  'Masculino', '1974-04-03')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142265' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142265',  'Masculino', '1994-02-11')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142759' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142759',  'Masculino', '1971-08-31')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142928' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142928',  'Masculino', '1986-09-13')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Não foi possível inserir o regristro Masculino. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '10142989' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento )
                     values ('10142989',  'Masculino', '1977-05-05')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [46]:
#INSERINDO DADOS NA TABELA pessoa com o dataframe df_clima

for clima in df_clima.itertuples():

    clima = clima.clima
    
    try:
        query = f"""insert into clima ( clima ) 
                     values ( '{clima}')"""      
        conn.execute(query)      
        print(f"Registro inserido com sucesso: {clima}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {clima}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: frio
Registro inserido com sucesso: quente
Registro inserido com sucesso: moderado

In [51]:
#INSERINDO DADOS NA TABELA pessoa com o dataframe df_animal_estimacao

for animal in df_animal_estimacao.itertuples():

    animal_estimacao = animal.animal_estimacao
    
    try:
        query = f"""insert into animal_estimacao ( animal ) 
                     values ( '{animal_estimacao}')"""      
        conn.execute(query)      
        print(f"Registro inserido com sucesso: {animal_estimacao}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {animal_estimacao}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: peixe
Registro inserido com sucesso: tartaruga
Registro inserido com sucesso: gato
Registro inserido com sucesso: cachorro

In [55]:
#INSERINDO DADOS NA TABELA pessoa com o dataframe df_hobbie

for hobbie in df_hobbie.itertuples():

    hobbies = hobbie.hobbies
    
    try:
        query = f"""insert into hobbie ( hobbie) 
                     values ( '{hobbies}')"""      
        conn.execute(query)      
        print(f"Registro inserido com sucesso: {hobbies}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {hobbies}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: Praticar esporte
Registro inserido com sucesso: Assistir TV
Registro inserido com sucesso: Ler livros
Registro inserido com sucesso: Aprender algo novo
Registro inserido com sucesso: Escrever
Registro inserido com sucesso: Pintar quadros
Registro inserido com sucesso: Dormir
Registro inserido com sucesso: Escutar música

In [57]:
#INSERINDO DADOS NA TABELA pessoa com o dataframe df_hobbie

for bebida in df_bebida.itertuples():

    bebida_favorita = bebida.bebida_favorita
    
    try:
        query = f"""insert into bebida ( bebida) 
                     values ( '{bebida_favorita}')"""      
        conn.execute(query)      
        print(f"Registro inserido com sucesso: {bebida_favorita}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {bebida_favorita}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: Cerveja
Registro inserido com sucesso: Café
Registro inserido com sucesso: refrigerante
Registro inserido com sucesso: Água
Registro inserido com sucesso: Vinho
Registro inserido com sucesso: Chá

In [58]:
df_dados.to_sql('stg_dados', con=conn, schema='trabalho_pratico')